html {
    background-color:#000;
}

body {
    height:480px;
    width:640px;
    position:absolute;
 
    /*transform: scale(0.5);*/
}

.gde-background {
    height:480px;
    width:640px;
    position:absolute;
 
    /*transform: scale(0.5);*/
}

#hide-right, #hide-bottom {
    display: block;
}
