html, body {
    margin:0px;
    height:100%;
}

@font-face {
    font-family: "VGA";
    src: url("assets\fonts\Web437_IBM_VGA_9x16.woff") format("ttf");
    font-weight: normal;
    font-style: normal;
}

.wb-body {
    overflow-y: hidden;
}

.browser input[type="text"] {
    width: calc(100% - 10em);
}
.browser button {
    width: 5em;
    min-width: 0;
}
.browser iframe {
    height: calc(100% - 23px);
    background-color: #fff;
}

.gde-background {
    background-image: url("../assets/images/bliss.png");
    background-size: cover;
    image-rendering: pixelated;
}

.gde-taskbar {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    width: calc(100% - 10px);
    padding: 5px;
    height: 45px;
}

.gde-logo-icon {
    height: 44px;
    vertical-align: bottom;
    padding-right: 5px;
}

.gde-taskbar button {
    width: 50px;
    height: 43px;
    min-width: 0;
}

#gde-startmenu {
    z-index: 100;
    position: absolute;
    display: none;
    top: 45;
    left: 0;
    width: 300px;
    height: 400px;
    background-color: silver;
}

#gde-clock {
    display: inline-block;
    float: right;
    margin-top: 16px;
    margin-right: 12px;
}
