html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "VGA";
    src: url("assets\fonts\Web437_IBM_VGA_9x16.woff") format("ttf");
    font-weight: normal;
    font-style: normal;
}

.wb-body {
    overflow-y: hidden;
}

.browser input[type="text"] {
    width: calc(100% - 10em);
}
.browser button {
    width: 5em;
    min-width: 0;
}
.browser iframe {
    height: calc(100% - 23px);
    background-color: #fff;
}

.gde-background {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../assets/images/bliss.png");
    background-size: cover;
    image-rendering: pixelated;
}

.gde-taskbar {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    width: calc(100% - 4px);
    height: 43px;
    padding: 4px 0 2px 4px;
}

.gde-taskbar button {
    height: 41px !important;
    min-width: 0 !important;
    padding: 5px !important;
    text-align: left !important;
}
.gde-taskbar button img {
    height: 100% !important;
}
.gde-taskbar button span {
    display: inline-block;
    margin: 5px 10px;
    vertical-align: bottom;
    font-size: 20px;
}

.gde-startmenu {
    z-index: 100;
    position: absolute;
    display: none;
    top: 45;
    left: 0;
    width: 300px;
    background-color: silver;
}
.gde-startmenu .window-body {
    height: 400px;
}
.gde-startmenu button {
    width: 100%;
    text-align: left;
    padding: 6px 6px 3px 6px !important;
}
.gde-startmenu button img {
    height: 21px;
}
.gde-startmenu button span {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 6px;
    margin-bottom: 6px;
}
.gde-startmenu a {
    text-decoration: underline;
    cursor: pointer;
}

#gde-clock {
    display: inline-block;
    float: right;
    margin: 1em;
    font-family: "Pixelated MS Sans Serif";
    font-size: 14px;
}

.clippiWin, .clippiWin .wb-header, .clippiWin .wb-body {
    background: none;
    box-shadow: none !important;
}
.clippiWin .wb-title, .clippiWin .wb-min, .clippiWin .wb-max, .clippiWin .wb-n, .clippiWin .wb-s, .clippiWin .wb-w, .clippiWin .wb-e, .clippiWin .wb-nw, .clippiWin .wb-ne, .clippiWin .wb-se, .clippiWin .wb-sw {
    display: none;
}
.clippiWin .wb-icon {
    float: left;
}
.wisdom {
    position: relative;
    background-color: #ffffcb;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 8px;
}
.wisdom:before {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 22px;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-top-color: #000;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -12px;
}
.wisdom:after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 23px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: #ffffcb;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -12px;
}
.clippi {
    width: 100%;
    height: 100%;
    max-height: calc(100% - 3em);
    object-fit: contain;
    object-position: top;
}

.scroll-up {
    height: 173px;
    margin-top:10px;
    overflow: hidden;
    position: relative;
    background: white;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
   }
.scroll-up p {
    position: absolute;
    color: #000;
    width: 100%;
    height: 300%;
    margin: 0;
    line-height: 20px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateY(30%);
    -webkit-transform:translateY(30%);	
    transform:translateY(30%);
    /* Apply animation to this element */	
    -moz-animation: scroll-up 15s linear infinite;
    -webkit-animation: scroll-up 15s linear infinite;
    animation: scroll-up 15s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-up {
    0%   { -moz-transform: translateY(30%); }
    100% { -moz-transform: translateY(-100%); }
   }
   @-webkit-keyframes scroll-up {
    0%   { -webkit-transform: translateY(30%); }
    100% { -webkit-transform: translateY(-100%); }
   }
   @keyframes scroll-up {
    0%   { 
    -moz-transform: translateY(30%); /* Browser bug fix */
    -webkit-transform: translateY(30%); /* Browser bug fix */
    transform: translateY(30%); 		
    }
    100% { 
    -moz-transform: translateY(-100%); /* Browser bug fix */
    -webkit-transform: translateY(-100%); /* Browser bug fix */
    transform: translateY(-100%); 
    }
 }
